---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="UnityDruid”
	description=“A place to store some projects”
	pubDate={new Date(‘20260210’)}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		This website is a private resource for the UnityDruid project.
	</p>
</Layout>
